

<div class="screen-wrap">
  <br>
  <div>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    
  </div>
  <div class="table-container">
    <table class="content-table">
    <caption class="caption">All Results</caption>
      <thead>
      <tr class="active-row">
        <th >ASIN</th>
        <th >Rank</th>
        <th >Category</th>
        <th >Dimensions</th>
      </tr>
      </thead>
      
      <% @products.each do |product| %>
        <tr class="active-row">
          <td ><%= product.asin %></td>
          <td ><%= product.rank %></td>
          <td ><%= product.category %></td>
          <td ><%= product.dimensions %></td>
        </tr>
      <% end %>
      
    </table>
    <%= will_paginate @products,:page_links => false %>
  </div>
</div>                             		                                                        

