<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="topnav">
    <a class="active" href="#home">Amazon ASIN Lookup</a>
    <div class="search-container">
      <%= form_with(url: "/products", method: "post") do %>
        <%= text_field_tag(:asin, nil, placeholder: "Enter ASIN number..") %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>
    
    <%= yield %>
  </body>
</html>
