<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="searchbar">
  <%= form_with(url: "/products", method: "post") do %>
        <%= text_field_tag(:asin, nil, placeholder: "Enter an ASIN Number..",:class => 'searchbar__input',required: true) %>
        <%= submit_tag("Search",:class => 'searchbar__button') %>
      <% end %>
    </div>
    <h2>Amazon ASIN Product Finder</h2>
    <%= yield %>
  </body>
</html>
